<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/headfoot.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Bot Discord Premium | Kucluck Pro</title>
    <link rel="shortcut icon" href="/img/Gaming-podcast-Logo-only.png">
    <script src="https://kit.fontawesome.com/9746709e58.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!--HEADER-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="#" class="navbar-logo"><img src="./img/logo_kucluck.svg" alt="Logo" width="100px"
                    class="d-inline-block aligh-center"> Kucluck</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./Pages/commands.html" title="Commands" style="color: #fff;"><i
                                class="fab fa-rocketchat"></i> Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Pages/docs.html" title="Documentation" style="color: #fff;"><i
                                class="far fa-file-alt"></i> Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kucluck.com/support" target="_blank" rel="nofollow"
                            title="Discord Server" style="color: #fff;"><i class="fab fa-discord"></i> Discord
                            Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Pages/premium.html" title="Upgrade" style="color: #fff;"><i class="fas fa-gem"></i>
                            Upgrade</a>
                    </li>
                </ul>
        </nav>
    </div>
    <!--MAIN BODY-->
    <section>
        <div class="home-head">
            <div class="container-xxl head">
                <img class="img-head" src="./img/logo-only.png">
                <h1>Kucluck Bot Official</h1>
                <div class="line-head"></div>
                <h5>Bot Discord yang terbuat dari kesabaran dan kasih sayang yang dapat memaksimalkan server Discord
                    kalian!</h5>
                <div class="btn-head-box">
                    <a href="https://kucluck.com/addbot" class="btn-head" target="_blank" rel="nofollow" title="Invite"><i
                            class="far fa-plus-square"></i> Invite</a>
                    <a href="https://kucluck.com/support" class="btn-head" target="_blank" rel="nofollow" title="Support"><i
                            class="far fa-plus-square"></i> Support</a>
                </div>
            </div>
        </div>
        <!--Fitur-->
        <div class="premium-featues" id="premium">
            <div class="d-flex justify-content-center">
                <div class="line-atas"></div>
            </div>
            <div class="d-flex justify-content-center">
                <h2 class="fitur-head" style="color: #ddc3ff;">PREMIUM <a style="color: #f45353"> FEATURES </a></h2>
            </div>
            <div class="d-flex justify-content-center">
                <p><img class="line-bawah" src="./img/Untitled-2.png"></p>
            </div>
            <div class="d-flex justify-content-center">
                <p style="font-size: 14px;">Buat kamu yang ingin berlangganan Kucluck bot versi PRO, kami akan
                    memberikan
                    segudang
                    fitur khusus loh</p>
            </div>
            <div class="container pt-5 premiumbox">
                <div class="row">
                    <div class="col-md-3">
                        <div class="img-pb">
                            <i class="fab fa-spotify fa-3x pb" title="Spotify"></i>
                            <i class="fab fa-soundcloud fa-3x pb" title="Sound Cloud"></i>
                            <i class="fab fa-youtube fa-3x pb " title="Youtube"></i>
                        </div>
                        <p>Spotify, Sound Cloud, Youtube support</p>
                        <hr>
                        <p style="font-size: 14px;">Kucluck Pro bisa memainkan musik bisa dari Spotify, Sound Cloud, dan
                            Youtube.
                            Tinggal copas link lagu atau playlist yang kamu ingin dengarkan saja. Jadi kamu bisa
                            dengerin
                            musik apa
                            aja dari sumber apa aja bareng temen yang ada di voice channel kamu.</p>
                        <hr>
                    </div>
                    <div class="col-md-3 mid">
                        <div class="img-pb">
                            <img src="./img/playlist.png" width="81" title="Lyrics"></i>
                            <img src="./img/playlist4.png" width="75" title="Playlist"></i>
                            <img src="./img/rectangular-speakers-with-bass.png" width="81" title="BassBooster"></i>
                        </div>
                        <p>Song Lyrics, Playlist, BassBooster support</p>
                        <hr>
                        <p style="font-size: 14px;">Kucluck Pro memiliki fitur untuk menampilkan lirik lagu yang sedang
                            di
                            mainkan.
                            Kamu juga bisa membuat playlist bareng teman satu server kamu. Dan untuk memaksimalkan
                            performa
                            Kucluck
                            Pro menambahkan fitur Bass Booster untuk kamu yang suka jedag jedug.</p>
                        <hr>
                    </div>
                    <div class="col-md-3">
                        <div class="img-pb">
                            <img src="./img/24-hours-delivery.png" width="81" title="24/7 Online"></i>
                            <img src="./img/command-window.png" width="81" title="Costume Prefix"></i>
                            <img src="./img/settings.png" width="81" title="Config"></i>
                        </div>
                        <p>24/7 Online, Costume Prefix, DJ role support</p>
                        <hr>
                        <p style="font-size: 14px;">Kucluck Pro punya fitur 24/7 stay di voice channel loh. Gak suka
                            sama
                            prefixnya?
                            Kucluck Pro bisa costume sesuka kamu loh. Banyak member yang jail? Aku punya solusinya, kamu
                            tinggal
                            membuat DJ role di Server Discord dan berikan ke member tertentu saja.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="line-end"></div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="line-end2"></div>
            </div>
        </div>
        <!--Berlanganan-->
        <div class="upgrade-now" id="upgrade">
            <div class="d-flex justify-content-center">
                <div class="line-atas"></div>
            </div>
            <div class="d-flex justify-content-center">
                <h2 class="fitur-head" style="color: #f45353;"><b>UPGRADE <a style="color:#ddc3ff"> NOW </a></b></h2>
            </div>
            <div class="d-flex justify-content-center">
                <p><img class="line-bawah" src="./img/Untitled-2.png"></p>
            </div>
            <div class="d-flex justify-content-center">
                <p style="font-size: 14px;">Dengan berlangganan, kamu dan semua member yang ada di dalam server Discord
                    kamu
                    bisa
                    menikmati semua fitur yang kami berikan loh.</p>
            </div>
            <div class="container pt-5 upgradebox">
                <div class="row">
                    <div class="col-md-4 free">
                        <h1>Standard</h1>
                        <div class="img-free">
                            <img src="./img/Gaming-podcast-Logo-only.png" width="70%"></i>
                        </div>
                        <h2>Free</h2>
                        <hr>
                        <p style="font-size: 14px;">Sebagian besar kami memberikan fitur secara gratis, dan bisa di
                            gunakan
                            oleh
                            semua member yang ada di dalam Discord channel kamu.</p>
                        <hr>
                    </div>
                    <div class="col-md-4 bayar">
                        <div class="img-bayar">
                            <h1>Pro</h1>
                            <div class="img-free">
                                <img src="./img/Gaming-podcast-Logo-only.png" width="70%"></i>
                            </div>
                            <h2>IDR 25k<span style="font-size: small;">/month</span></h2>
                            <hr>
                            <p style="font-size: 14px;">Memberikan Suara yang lebih jernih dan mengaktifkan beberapa
                                fitur
                                yang
                                tidak bisa di gunakan di standard</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Ceklist-->
        <div class="ceklist" id="ceklist">
            <div class="container">
                <div class="col-md-6">
                    <table class="box-ceklist">
                        <th> </th>
                        <th>Kucluck Standard</th>
                        <th>Kucluck Pro</th>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">24/7 Stay Voice Channel</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">BassBooster</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Volume</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Lyrics</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Loop Playlist</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Skip To</td>
                            <td><i class="fas fa-times" style="color: rgb(253, 130, 130);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Music</td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Fun</td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr style="border-bottom: 3px solid rgba(255, 255, 255, 0.356);">
                            <td style="text-align: left;">Prefix Costume</td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                            <td><i class="fas fa-check" style="color: rgb(132, 255, 132);"></i></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"> </td>
                            <td><div class="btn-ceklist"><a href="https://kucluck.com/addbot" target="_blank" rel="nofollow" class="btn-ceklist-text">Invite</a></div></td>
                            <td><div class="btn-ceklist"><a href="./Pages/premium.html" target="_blank" rel="nofollow" class="btn-ceklist-text">Premium</a></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer class="footer">
        <div class="container-fot">
            <div class="row">
                <div class="footer-col">
                    <h4>Kucluck Bot</h4>
                    <ul>
                        <li><a href="./Pages/docs.html" title="Quickstart">Quickstart</a></li>
                        <li><a href="./Pages/commands.html" title="Commands">Commands</a></li>
                        <li><a href="./Pages/premium.html" title="Premium">Premium</a></li>
                    </ul>
                </div>  
                <div class="footer-col">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="https://kucluck.com/addbot" target="_blank" rel="nofollow" title="Add to Server">Add to server</a></li>
                        <li><a href="https://kucluck.com/support" target="_blank" rel="nofollow" title="Discord Channel">Discord channel</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="./Pages/disclaimer.html" title="Disclaimer">Disclaimer</a></li>
                        <li><a href="./Pages/tos.html" title="Terms of Service">Terms of Service</a></li>
                        <li><a href="./Pages/policy.html" title="Privacy Policy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="footer-col-right">
                    <h4>Kucluck Bot</h4>
                    <p>Bot Discord serba guna yang gratis dan berkualitas untuk server Discord kalian.</p>  
                    <a href="mailto:admin@kucluck.com" class="mailto" target="_blank" rel="nofollow"><i class="fas fa-envelope-open-text"></i> admin@kucluck.com</a>
                    <p class="foot-copyright"><i class="far fa-copyright"></i> Kucluck Bot 2021 - All rights reserved.<br><i class="fas fa-edit"></i> Web Designed by <a href="https://web.facebook.com/lukman.now" target="_blank" rel="nofollow" style="color: #c5c5c5">Lukman Novawiyadi</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>