.box-docs{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #3b3f47;
    padding: 15px;
    border-radius: 15px;
}
.date{
    margin-left: 20px;
    padding-top: 3px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.301);
}
.box-category{
    display: flex;
    position:relative;
    margin: auto;
}
.box-category p{
    margin: auto;
    padding: 5px;
    background-color: #26292e;
    border-radius: 5px;
}
.box-quickstart{
    display: flex;
}
.box-name{
    display: flex;
}
.logo-box{
    margin-right: 10px;
}
.bot-text p{
    margin: 0;
    margin-left: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #5766ef;
    font-size: 11px;

}
.chat-box{
    margin-left: 60px;
    padding: 20px;
    border-radius: 5px;
    border-left: 5px solid #f0a3ff;
    background-color: #2f3238;
}
.invite-img{
    border-radius: 10px;
}

.share-btn{
    display: flex;
    margin: auto;
}
.share-btn a{
    margin: 10px;
    text-align: center;
    line-height: center;
}
.twitter{
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #55ACEE;
}
.facebook{
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #3B5998;
}
.whatsapp{
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #25D366;
}