<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/headfoot.css">
    <link rel="stylesheet" href="../css/commands.css">
    <title>Commands| Kucluck Pro</title>
    <link rel="shortcut icon" href="/img/Gaming-podcast-Logo-only.png">
    <script src="https://kit.fontawesome.com/9746709e58.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!--HEADER-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="../index.html" class="navbar-logo"><img src="../img/logo_kucluck.svg" alt="Logo" width="100px"
                    class="d-inline-block aligh-center"> Kucluck</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Commands" style="color: #fff;"><i
                                class="fab fa-rocketchat"></i> Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./docs.html" title="Documentation" style="color: #fff;"><i
                                class="far fa-file-alt"></i> Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kucluck.com/support" target="_blank" rel="nofollow"
                            title="Discord Server" style="color: #fff;"><i class="fab fa-discord"></i> Discord
                            Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./premium.html" title="Upgrade" style="color: #fff;"><i class="fas fa-gem"></i>
                            Upgrade</a>
                    </li>
                </ul>
        </nav>
    </div>
    <!--MAIN BODY-->
    <section>

        <div class="d-flex justify-content-center command_head">
            <h1>Commands Kucluck Bot</h1>
        </div>
        <div class="container px-lg-5" id="command_head">
            <div class="row">
                <div class="col-sm-3" id="category">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-instructions-list"
                            data-bs-toggle="list" href="#list-instructions" role="tab"
                            aria-controls="list-instructions"><i class="fas fa-book-reader"></i> Instructions</a>
                        <a class="list-group-item list-group-item-action" id="list-information-list"
                            data-bs-toggle="list" href="#list-information" role="tab"
                            aria-controls="list-information"><i class="fas fa-info-circle"></i> Information</a>
                        <a class="list-group-item list-group-item-action" id="list-music-list" data-bs-toggle="list"
                            href="#list-music" role="tab" aria-controls="list-music"><i class="fas fa-compact-disc"></i>
                            Music</a>
                        <a class="list-group-item list-group-item-action" id="list-fun-list" data-bs-toggle="list"
                            href="#list-fun" role="tab" aria-controls="list-fun"><i class="fas fa-grin-squint-tears"></i>
                            Fun</a>
                        <a class="list-group-item list-group-item-action" id="list-premium-list" data-bs-toggle="list"
                            href="#list-premium" role="tab" aria-controls="list-premium"><i class="fas fa-gem"></i>
                            Premium</a>
                        <a class="list-group-item list-group-item-action" id="list-admin-list" data-bs-toggle="list"
                            href="#list-admin" role="tab" aria-controls="list-admin"><i class="fas fa-user-cog"></i>
                            Admin</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list-instructions" role="tabpanel"
                            aria-labelledby="list-instructions-list">
                            <div class="col-md-3 text-box-i">
                                <a class="text-box-head-i" href="">Menggunakan Command</a>
                                <p>Untuk menggunakan Kucluck bot, kalian bisa menggunakan prefix + command yang di
                                    perlukan. Untuk Prefix default Kucluck Standard dan Kucluck Pro sendiri itu
                                    berbeda.<br>
                                    <br> Prefix Kucluck Bot:<br>
                                    <code>[!]</code> Kucluck Standard<br>
                                    <code>[!!]</code> Kucluck Pro<br><br>
                                    <img class="command-img" src="../img/command.PNG">
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-information" role="tabpanel"
                            aria-labelledby="list-information-list">
                            <div class="col-md-3 search-box">
                                <input type="text" id="myInputInfo" onkeyup="myFunction()" placeholder="Search for commands..">
                                <script src="../script/cari.js"></script>
                                <ul class="text-box" id="myULInfo">
                                    <li class="box-li" id="help">
                                        <a class="text-box-head" href="#help">help</a><p>Memberikan informasi tentang semua command Kucluck Bot.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"command"</code>, <code>"commands"</code>, <code>"cmd"</code>, <code>"bantuan"</code>, <code>"tolong"</code>. <br>Usage: <code>[]</code>
                                        <br>Contoh: <code>!help</code></a></p>
                                    </li>
                                    <li class="box-li" id="helpcmd">
                                        <a class="text-box-head" href="#helpcmd">help [command]</a>
                                        <p>Memberikan informasi tentang semua command Kucluck Bot.<br>
                                        <a style="color: rgb(189, 189, 189); font-size: 15px;"> Aliases: <code>"command"</code>, <code>"commands"</code>, <code>"cmd"</code>, <br>Usage: <code>[commands]</code><br>Contoh: <code>!help play</code></a></p>
                                    </li>
                                    <li class="box-li" id="ping">
                                        <a class="text-box-head" href="#ping">ping</a><p>Memberikan informasi tentang bot status.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"about"</code>, <code>"stats"</code>, <code>"info"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!ping</code></a></p>
                                    </li>
                                    <li class="box-li" id="premium">
                                        <a class="text-box-head" href="#premium">premium</a><p>Memberikan informasi Kucluck Pro.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"pro"</code>, <code>"premi"</code>, <code>"vip"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!premium</code></a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-music" role="tabpanel" aria-labelledby="list-music-list">
                            <div class="col-md-3 search-box">
                                <input type="text" id="myInputMusic" onkeyup="myFunction()" placeholder="Search for commands..">
                                <script src="../script/cari.js"></script>
                                <ul class="text-box" id="myULMusic">
                                    <li class="box-li" id="clear">
                                        <a class="text-box-head" href="#clear">clear</a><p>Menghapus semua lagu dari playlist.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"cl"</code>, <code>"cls"</code>, <code>"hapus"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!clear</code></a></p>
                                    </li>
                                    <li class="box-li" id="join">
                                        <a class="text-box-head" href="#join">join</a><p>Memanggil Kucluck Bot ke voice channel.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"connect"</code>, <code>"masuk"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!join</code></a></p>
                                    </li>
                                    <li class="box-li" id="leave">
                                        <a class="text-box-head" href="#leave">leave</a><p>Memberhentikan musik yang dimainkan bot dan keluar dari voice channel.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"disconnect"</code>, <code>"exit"</code>, <code>"quit"</code>, <code>"dc"</code>, <code>"stop"</code>, <code>"pergih"</code>, <code>"cabut"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!leave</code></a></p>
                                    </li>
                                    <li class="box-li" id="loopsong">
                                        <a class="text-box-head" href="#loopsong">loopsong</a><p>Mengulang lagu yang sedang dimainkan.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"l"</code>, <code>"repeat"</code>, <code>"ulang"</code>, <code>"loop"</code>, <code>"ls"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!loopsong</code></a></p>
                                    </li>
                                    <li class="box-li" id="move">
                                        <a class="text-box-head" href="#move">move</a><p>Memindahkan lagu di playlist ke antrian yang anda mau.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"m"</code>, <code>"pindahin"</code>, <code>"pindahkan"</code>, <code>"pindah"</code>.<br>Usage: <code>[Number]</code><br>Contoh: <code>!move 1</code></a></p>
                                    </li>
                                    <li class="box-li" id="nowplaying">
                                        <a class="text-box-head" href="#nowplaying">nowplaying</a><p>Melihat lagu yang sedang di mainkan.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"np"</code>, <code>"nowplaying"</code>, <code>"now playing"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!nowplaying</code></a></p>
                                    </li>
                                    <li class="box-li" id="pause">
                                        <a class="text-box-head" href="#pause">pause</a><p>Memberhentikan musik yang sedang dimainkan untuk sementara waktu.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"jeda"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!pause</code></a></p>
                                    </li>
                                    <li class="box-li" id="play">
                                        <a class="text-box-head" href="#play">play</a><p>Memainkan lagu yang kamu suka.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"p"</code>, <code>"musik"</code>, <code>"lagu"</code>.<br>Usage: <code>[Judul Lagu]</code><br>Contoh: <code>!play lagu santai</code></a></p>
                                    </li>
                                    <li class="box-li" id="playurl">
                                        <a class="text-box-head" href="#playurl">play [url]</a><p>Memainkan lagu yang kamu suka.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"p"</code>, <code>"musik"</code>, <code>"lagu"</code>.<br>Usage: <code>[URL Lagu]</code><br>Contoh: <code>!play https://www.youtube.com/watch?v=M1yJQyqv1Po</code></a></p>
                                    </li>
                                    <li class="box-li" id="playlist">
                                        <a class="text-box-head" href="#playlist">playlist</a><p>Melihat semua lagu di dalam playlist.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"q"</code>, <code>"pl"</code>, <code>"antrian"</code>, <code>"queue"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!playlist</code></a></p>
                                    </li>
                                    <li class="box-li" id="remove">
                                        <a class="text-box-head" href="#remove">remove</a><p>Membuang salah satu lagu yang yang ada di playlist.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"rm"</code>, <code>"delete"</code>, <code>"hapus"</code>.<br>Usage: <code>[Number]</code><br>Contoh: <code>!remove 4</code></a></p>
                                    </li>
                                    <li class="box-li" id="resume">
                                        <a class="text-box-head" href="#resume">resume</a><p>Melanjutkan musik yang di jeda.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"lanjutkan"</code>, <code>"lanjutin"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!resume</code></a></p>
                                    </li>
                                    <li class="box-li" id="search">
                                        <a class="text-box-head" href="#search">search</a><p>Menampilkan hasil lagu berdasarkan kata kunci pencarian.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"se"</code>, <code>"cari"</code>.<br>Usage: <code>[Judul Lagu]</code><br>Contoh: <code>!search</code></a></p>
                                    </li>
                                    <li class="box-li" id="seek">
                                        <a class="text-box-head" href="#seek">seek</a><p>Mempercepat durasi lagu ke waktu yang di inginkan.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"forward"</code>, <code>"jump"</code>, <code>"lewati"</code>, <code>"mencari"</code>.<br>Usage: <code>[number + s, m, h]</code><br>Contoh: <code>!seek 20s</code></a></p>
                                    </li>
                                    <li class="box-li" id="shuffle">
                                        <a class="text-box-head" href="#shuffle">shuffle</a><p>Mengacak urutan lagu yang ada playlist.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"shuff"</code>, <code>"acakpl"</code>, <code>"mix"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!shuffle</code></a></p>
                                    </li>
                                    <li class="box-li" id="skip">
                                        <a class="text-box-head" href="#skip">skip</a><p>Melewatkan lagu yang sedang dimainkan.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"s"</code>, <code>"next"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!skip</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="bassboost">
                                        <a class="text-box-head" href="#bassboost">bassboost</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Mengatur volume bass.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"bb"</code>, <code>"bass"</code>.<br>Usage: <code>[none, low, medium, high]</code><br>Contoh: <code>!bassboost medium</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="bump">
                                        <a class="text-box-head" href="#bump">bump</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Memindahkan track ke antrian paling depan.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"b"</code>, <code>"up"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!bump</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="skipto">
                                        <a class="text-box-head" href="#skipto">skipto</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Memainkan lagu yang dipilih dari playlist.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"st"</code>.<br>Usage: <code>[number]</code><br>Contoh: <code>!skipto 12</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="savesong">
                                        <a class="text-box-head" href="#savesong">savesong</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Menyimpan URL lagu yang dimainkan saat ini ke DM kamu.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"save"</code>, <code>"grab"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!savesong</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="loopqueue">
                                        <a class="text-box-head" href="#loopqueue">loopqueue</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Mengulang lagu yang ada diplaylist.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"lq"</code>, <code>"repeatqueue"</code>, <code>"rq", "lp"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!loopqueue</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="lyrics">
                                        <a class="text-box-head" href="#lyrics">lyrics</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Menampilkan lirik lagu.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"ly"</code>, <code>"liriklagu"</code>, <code>"lirik"</code>.<br>Usage: <code>[Judul Lagu]</code><br>Contoh: <code>!lyrics</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="volume">
                                        <a class="text-box-head" href="#volume">volume</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Periksa atau ubah volume saat ini.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"vol"</code>, <code>"v"</code>.<br>Usage: <code>[Number 0-100]</code><br>Contoh: <code>!volume 80</code></a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-fun" role="tabpanel" aria-labelledby="list-fun-list">
                            <div class="col-md-3 search-box">
                                <input type="text" id="myInputFun" onkeyup="myFunction()" placeholder="Search for commands..">
                                <script src="../script/cari.js"></script>
                                <ul class="text-box" id="myULFun">
                                    <li class="box-li" id="avatar">
                                        <a class="text-box-head" href="#avatar">avatar</a><p>Menampilkan avatar.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"ava"</code>, <code>"foto"</code>, <code>"photo"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!avatar</code></a></p>
                                    </li>
                                    <li class="box-li" id="avataruser">
                                        <a class="text-box-head" href="#avataruser">avatar [user]</a><p>Menampilkan avatar member Discord channel yang dipilih.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"ava"</code>, <code>"foto"</code>, <code>"photo"</code>.<br>Usage: <code>[user tag]</code><br>Contoh: <code>!avatar @member</code></a></p>
                                    </li>
                                    <li class="box-li" id="youtube">
                                        <a class="text-box-head" href="#youtube">youtube</a><p>Memulai sesi nonton bareng di Youtube.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"yt"</code>, <code>"nobar"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!youtube</code></a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-premium" role="tabpanel" aria-labelledby="list-premium-list">
                            <div class="col-md-3 search-box">
                                <input type="text" id="myInputPremium" onkeyup="myFunction()" placeholder="Search for commands..">
                                <script src="../script/cari.js"></script>
                                <ul class="text-box" id="myULPremium">
                                    <li class="box-li-pro" id="bassboostpro">
                                        <a class="text-box-head" href="#bassboostpro">bassboost</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Mengatur volume bass.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"bb"</code>, <code>"bass"</code>.<br>Usage: <code>[none, low, medium, high]</code><br>Contoh: <code>!bassboost medium</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="bumppro">
                                        <a class="text-box-head" href="#bumppro">bump</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Memindahkan track ke antrian paling depan.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"b"</code>, <code>"up"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!bump</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="skiptopro">
                                        <a class="text-box-head" href="#skiptopro">skipto</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Memainkan lagu yang dipilih dari playlist.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"st"</code>.<br>Usage: <code>[number]</code><br>Contoh: <code>!skipto 12</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="savesongpro">
                                        <a class="text-box-head" href="#savesongpro">savesong</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Menyimpan URL lagu yang dimainkan saat ini ke DM kamu.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"save"</code>, <code>"grab"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!savesong</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="loopqueuepro">
                                        <a class="text-box-head" href="#loopqueuepro">loopqueue</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Mengulang lagu yang ada diplaylist.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"lq"</code>, <code>"repeatqueue"</code>, <code>"rq", "lp"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!loopqueue</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="lyricspro">
                                        <a class="text-box-head" href="#lyricspro">lyrics</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Menampilkan lirik lagu.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"ly"</code>, <code>"liriklagu"</code>, <code>"lirik"</code>.<br>Usage: <code>[Judul Lagu]</code><br>Contoh: <code>!lyrics</code></a></p>
                                    </li>
                                    <li class="box-li-pro" id="volume">
                                        <a class="text-box-head" href="#volume">volume</a><i class="fas fa-gem" style="float: right; color: #f0a3ff;"></i><p>Periksa atau ubah volume saat ini.<br><a style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"vol"</code>, <code>"v"</code>.<br>Usage: <code>[Number 0-100]</code><br>Contoh: <code>!volume 80</code></a></p>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                            <div class="col-md-3 search-box">
                                <input type="text" id="myInputadmin" onkeyup="myFunction()" placeholder="Search for commands..">
                                <script src="../script/cari.js"></script>
                                <ul class="text-box" id="myULadmin">
                                    <li class="box-li" id="config">
                                        <a class="text-box-head" href="#config">config</a><p>Mengatur prefix dan mengatur DJ Role.<br><a
                                        style="color: rgb(189, 189, 189); font-size: 15px;">Aliases: <code>"conf"</code>.<br>Usage: <code>[]</code><br>Contoh: <code>!config</code></a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer class="footer">
        <div class="container-fot">
            <div class="row">
                <div class="footer-col">
                    <h4>Kucluck Bot</h4>
                    <ul>
                        <li><a href="./docs.html" title="Quickstart">Quickstart</a></li>
                        <li><a href="./commands.html" title="Commands">Commands</a></li>
                        <li><a href="./premium.html" title="Premium">Premium</a></li>
                    </ul>
                </div>  
                <div class="footer-col">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="https://kucluck.com/addbot" target="_blank" rel="nofollow" title="Add to Server">Add to server</a></li>
                        <li><a href="https://kucluck.com/support" target="_blank" rel="nofollow" title="Discord Channel">Discord channel</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="./disclaimer.html" title="Disclaimer">Disclaimer</a></li>
                        <li><a href="./tos.html" title="Terms of Service">Terms of Service</a></li>
                        <li><a href="./policy.html" title="Privacy Policy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="footer-col-right">
                    <h4>Kucluck Bot</h4>
                    <p>Bot Discord serba guna yang gratis dan berkualitas untuk server Discord kalian.</p>  
                    <a href="mailto:admin@kucluck.com" class="mailto" target="_blank" rel="nofollow"><i class="fas fa-envelope-open-text"></i> admin@kucluck.com</a>
                    <p class="foot-copyright"><i class="far fa-copyright"></i> Kucluck Bot 2021 - All rights reserved.<br><i class="fas fa-edit"></i> Web Designed by <a href="https://web.facebook.com/lukman.now" target="_blank" rel="nofollow" style="color: #c5c5c5">Lukman Novawiyadi</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>